@import '../index'

.Home
  display: flex
  flex-direction: column
  justify-content: center

.Home .lander
  padding: 20vh 0
  text-align: center

.Home .lander h1
  font-weight: 600
  font-size: 15vh

.Home .lander p
  color: $dark-color
  font-size: 1.8vh

.note-list
  max-height: 42.5vh

.create-note-row
  margin-bottom: 2rem
  background: $dark-color
  border: none
  border-top-left-radius: $border-radius
  border-top-right-radius: $border-radius

.create-note-row:hover
  background: $dark-color !important

.create-note-row:hover h4
  color: $light-color

.create-note-row h4
  color: $primary-color

.note-list .list-group-item
  margin-bottom: 4px
  margin-top: 4px

.list-group-item
  border-color: $light-gray-color

.list-group .list-group-item:first-child
  border-top-left-radius: 0 !important
  border-top-right-radius: 0 !important
  margin-top: 0

.list-group .list-group-item:last-child
  border-bottom-left-radius: $border-radius
  border-bottom-right-radius: $border-radius
  margin-bottom: 0

.overflowing-ver .list-group-item
  border-right: none

.overflowing-ver .list-group-item:last-child
  border-bottom-right-radius: 0

a h4, a p
  color: $dark-color

a:hover h4, a:hover p
  color: unset

Link
  height: 30px