@import '../index'
@import '../containers/Home'

/* Generic

.note-thumbnail
  width: 100%
  background: $light-color

.note-thumbnail:hover
  background: $dark-color !important
  cursor: pointer !important
  color: $primary-color !important

.note-thumbnail h4
  font-weight: 600

.note-thumbnail div p
  margin-bottom: 0

.icon
  width: 25px
  height: 25px

svg.primary, path.primary
  color: $primary-color
  fill: $primary-color

/* ===

/* For scroll mode thumbnails

.scroll-note-thumbnail
  height: 7.5rem

.scroll-note-thumbnail div
  height: 100%

.scroll-note-thumbnail h4
  margin-top: 0
  margin-bottom: 3px

@media screen and (max-width: 500px)
  .scroll-note-thumbnail h4
    font-weight: 500
    font-size: 1.7rem

  .scroll-note-thumbnail p
    font-weight: 400
    font-size: 1rem

.scroll-note-thumbnail .note-icons
    width: 200px

/* ===

/* For paged mode thumbnails

.paged-note-thumbnail
  width: 100%
  height: 100%
  border: 1px solid $light-gray-color
  border-radius: $border-radius
  padding: 4%

.paged-note-thumbnail div
  height: 35%

.paged-note-thumbnail .name-and-date
  height: 65%

/* ===

