@import '../index'
@import '../containers/Home'

.list-group-item.note-thumbnail
  height: 7.5rem

.note-thumbnail
  width: 100%
  background: $light-color

.list-group .note-thumbnail:hover
  background: $dark-color
  cursor: pointer
  color: $primary-color

.note-thumbnail div
  height: 100%

.note-thumbnail div p
  margin-bottom: 0

.note-thumbnail h4
  margin-top: 0
  margin-bottom: 3px
  font-weight: 600

@media screen and (max-width: 500px)
  .note-thumbnail h4
    font-weight: 500
    font-size: 1.7rem

  .note-thumbnail p
    font-weight: 400
    font-size: 1rem