.page-tracker
  display: flex
  justify-content: center

.page-tracker .btn
  width: 40px
  height: 40px
  margin: 0 5px

.page-tracker .btn:first-child
  margin-left: 0

.page-tracker .btn:last-child
  margin-right: 0